.grid{
    display: flex;

    flex-wrap: wrap;

    position: absolute;
    width: 100vw;
    left: 0vw;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 20%; 

    border-style: none;
    border-radius: 2vh;
    margin: 1vh;

    height: 15vh;

    font-family:Arial;
    font-size: 3.5vmin;
    font-weight: bold;

    background-color: rgb(239, 239, 230);
}
.attempts{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 96vw;
    left: 2vw;
    top: 70vh;

    font-family:Arial;
    font-size: 6vh;
    font-weight: bold;
    letter-spacing: 2vw;

    border-style: none;
    border-radius: 2vh;
    margin: 1vh;

    color: rgb(100, 100, 96);
}
.button-bar{
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    left: 10vw;
    top: 80vh;
    width: 80vw;
}
.button-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 20%; 

    border: none;
    border-radius: 2vh;
    margin: 1vh;

    height: 10vh;

    font-family:Arial;
    font-size: 3.5vmin;
    color: white;

    background-color: rgb(100, 100, 96);
}